h1 {
    text-align: center;
}

.link {
    font-size: larger;
}

.explanation {
    font-style: italic;
    font-size: smaller;
}

h3 {
    padding-bottom: 0px;
}

.col-sm-6 {
    padding-left: 0px;
}

.page-end {
    margin-bottom: 50px;
}